.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-center{
  position: relative;
  width: 100%;
  display: flex; 
}

.container{
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  width: 80%;
}

.item{
  position: relative;
  border: 1px solid var(--white);
}