.App {
  position: relative;
  text-align: center;
  min-height: 100vh;  
  min-width: 100vw;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-center{
  position: relative;
  width: 100%;
  display: flex; 
}

.container-fluid{
  position: relative;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  position: relative;
  width: 80%;
}

.item{
  position: relative;
  border: 0.01px solid #ccc;
}

.form-control{
  width: 40% !important;
}

.table{
  min-height: 100vh;
  margin: 5rem;
  padding: 0 2rem;
}

.table-center{
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
}

.col {
  border: 1px solid #ccc;
  display: flex;
  height: 1.75rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col p {
  margin-top: 1rem;
}

.rect{
  width: 1.5rem;
  height: 1.5rem;
}
